/* General Styles */
body {
  font-family: Arial, sans-serif; /* Or choose a font to match your image */
  margin: 20px; /* Adjust margins as needed */
  font-size: 10pt;
}

.container {/* Adjust as needed to match the width of the image */
  margin: 0 auto;/* Centers the form */
  padding: 32px auto;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; 
}

header h1 {
  color: #333; /* Change as needed */ 
  font-size: 24px; 
  font-weight: bold;
}

.info {
  display: flex;
  height: 25vh;
}

.info p {
  margin-bottom: 0px; /* Adjust spacing if necessary */
}

.info-right, .container-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex: 1;
}

.container-header {
  flex: 1;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  width: 100%;
}

.bold {
  font-weight: bold;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  width: 100%;
}

.info-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.label {
  color: #000;
  font-weight: 700;
}

.value {
  color: #f00;
  margin-left: 10vh;
}

.logo img{
width: 84px;
height: 59px;
}

.logo-client img  {
width: 56px;
height: 55px;
}

/* Table Styles */
table {
  width: 100%; 
  border-collapse: collapse;
}

th {
  background-color: #44546A;
  color: #fff;
  font-size: x-small;
  text-align: center;
}

th, td {
  border: 1px solid #ddd; 
  padding: 8px; 
  text-align: center;
}

.left-section {
  width: 60%; /* Adjust based on the visual proportions in your image */
}

.right-section {
  width: 35%; /* Adjust based on the visual proportions in your image */
  margin-left: 5%;
}

.divider {
height: 48px;
}

.cell-1 {
width: 100px;
}

.legend {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  margin-top: 24px;
  font-size: smaller;
}

.square-legend {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recebido {
background-color: #00B050;
color: #000;
}

.almoxarifado {
background-color: #fff;
color: #000;
}

.canteiro {
background-color: #00B0F0;
color: #000;
}

.pendente {
background-color: #f00;
color: #000;
}

.fabricacao-externa {
background-color: #ff0;
color: #000;
}

.recebido-parcial {
background-color: #C6E0B4;
color: #000;
}

.nao-tem-almoxarifado {
background-color: #BF8F00;
color: #000;
}

.observation table td {
  text-align: left;
}

.signature {
  border-top: 1px solid #000;
}

.cell-large {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 48px;
}

/* Footer Styles */
footer {
  text-align: center;
  margin-top: 20px;
}

@page {
size: landscape;
}
